@import "../../global-style/variables";
@import "../../global-style/mixins";

@include wrap-1();
@include modal();
.wrap-1{
  p{
    margin:8px 0 30px 0;
    font-size: 16px;
  }
  .input-email{
    @include input-long();
  }
  input:focus{
    border-right:0!important;
    border-bottom-color:#1332C3;
  }
  input:hover{
    border-right:0!important;
  }
  .btn-common{
    @include btn-common();
    width:245px;
    margin-top:20px;
  }
  .btn-common:hover{
    //opacity: 0.84;
  }
}
.invalid-feedback {
  @include form-invalid-feedback();
}
.cannot{
  opacity: 0.4;
}
.email-img{
  @include email-img();
  margin-bottom:20px;
}
.note{
  color:$modal-text;
  font-size: 24px;
  line-height: 28px;
  margin-bottom:100px;
  font-weight: 500;
}
.close{
  text-decoration: none;
  color:$link-color;
  font-size: 20px;
  margin-bottom:40px;
}
.invalid-feedback {
  @include form-invalid-feedback();
}

