<div class="wrap-1">
  <div class="container-1">
    <h1>Reset Your Password</h1>
    <p>We will send you a secure email to reset your password.</p>
    <form nz-form [formGroup]="recoverForm" (submit)="recoverPassword()">
      <nz-form-item>
        <nz-form-control  >
          <input nz-input (blur)="emailValidate()" name="email" formControlName="email" placeholder="Email" class="input-email" type="text">
          <div class="invalid-feedback">
            {{ recoverFormError.email }}
          </div>
        </nz-form-control>
      </nz-form-item>
      <button nz-button class="login-form-button btn-common" [ngClass]="{'cannot' : notClickable}" [disabled]="submitDisabled">SEND RESET LINK VIA EMAIL</button>
    </form>
    <nz-modal [nzStyle]="{width:'480px'}" nzWrapClassName="vertical-center-modal" [nzWidth]="480" [(nzVisible)]="isVisible" [(nzFooter)]="isnzFooter" [(nzClosable)]="isnzClose">
      <p class="email-img"></p>
      <p class="note">We have sent an email to {{ emailControl.value }}. Please check the email we sent with the confirmation link.</p>
      <p style="text-align: right;"><a href="javascript:;" class="close" (click)="closeModal()">CLOSE</a></p>
    </nz-modal>
  </div>
</div>


