$background-color-primary: #1332C3;

$screen-phone-max: 767px;
$screen-desktop-min: $screen-phone-max + 1;

$text-color-gray: #666666;
$input-placeholder-color: #aaaaaa;
$link-color:#1332C3;
$placeholder-color:#999999;
$question-text-color:#1332C3;
$agree-text-color:#666666;
$require-color:#E01010;
$warning-color:#999999;
$modal-text:#070A14;
$black-title-color:#1a1a1a;
