<div class="wrap-1">
  <div class="container-1">
    <div class="banner">
      <h1>The Digital Securitization Platform</h1>
      <p>Issue, manage, and transfer security tokens, all in one place</p>
      <div class="btn-group">
        <a routerLink="/register" class="start" (click)="toStart()">GET STARTED</a>
        <a routerLink="/faq" class="faq" (click)="toFAQ()">FAQs</a>
      </div>
    </div>
    <div class="assets">
      <h1>Tokenizing Your Assets</h1>
      <div class="assets-inner">
        <div class="left">
          <p class="assets-1"></p>
          <p class="title">Token Issuance</p>
          <p class="assets-note">We provide solutions to handle the entire token issuance process, from the onboarding of investors to the delivery of your tokens. Our regulatory compliant token infrastructure introduces standards and procedures that can be seamlessly utilized by token issuers to ensure that their security tokens comply with worldwide transfer restrictions, thereby opening up a global pool of security token liquidity.</p>
        </div>
        <div class="right">
          <p class="assets-2"></p>
          <p class="title">Regulatory Compliant Token Infrastructure</p>
          <p class="assets-note">Our platform enables token issuers to ensure that the transfer of security tokens comply with local and global regulatory requirements. We support Regulation S and Regulation D offerings (other options available), to assist you on your journey to creating your security token. From issuing your security token to managing the investors and token distribution via an integrated whitelist system, you will have everything you need to guarantee compliance.</p>
        </div>
      </div>
    </div>
    <div class="markets">
      <h1>Real-World Examples</h1>
      <div class="markets-inner">
        <div class="left">
          <p class="img-1"></p>
          <p class="markets-title">Real Estate</p>
          <p class="markets-note">REDev is a leading real estate developer that focuses on developing and operating commercial properties in Northern California.</p>
          <a routerLink="">LEARN MORE</a>
        </div>
        <div class="center">
          <p class="img-2"></p>
          <p class="markets-title">Startup Funding</p>
          <p class="markets-note">DeliveryGrid, a Bay Area-based startup, intends to disrupt the lucrative package delivery market and is in the process of obtaining funding through compliant tokenization. </p>
          <a routerLink="">LEARN MORE</a>
        </div>
        <div class="right">
          <p class="img-3"></p>
          <p class="markets-title">Private Equity Buyout</p>
          <p class="markets-note">LODGESY, a Delaware-based corporation, operates a growing chain of hotels and wishes to accelerate its growth through the acquisition of a smaller competitor.</p>
          <a routerLink="">LEARN MORE</a>
        </div>
      </div>
    </div>
    <div class="cooperate">
      <h1>Exchange & Marketplace Partners</h1>
      <div class="cooperate-inner">
        <div class="top">
          <a href="https://sharespost.com/" target="_blank" class="left1"><p class="partner partner1"></p></a>
          <a href="https://www.tzero.com/" target="_blank" class="left"><p class="partner partner2"></p></a>
          <a href="https://www.gsx.gi/" target="_blank" class="left"><p class="partner partner3"></p></a>
          <a href="https://ercdex.com/" target="_blank" class="left"><p class="partner partner4"></p></a>
        </div>
        <div class="middle">
          <a href="https://techemy.co/" target="_blank"><p class="partner partner5"></p></a>
          <a href="https://coinshares.co.uk/" target="_blank" class="left"><p class="partner partner6"></p></a>
          <a href="https://nem.io/" target="_blank" class="left"><p class="partner partner7"></p></a>
          <a href="https://alchemist.com/" target="_blank" class="left"><p class="partner partner8"></p></a>
        </div>
        <div class="bottom">
          <a href="https://corp.anypay.jp/en/" target="_blank" class="left2"><p class="partner partner9"></p></a>
          <a href="https://hyperlink.capital/" target="_blank" class="left"><p class="partner partner10"></p></a>
          <a href="https://www.overstock.com/" target="_blank" class="left"><p class="partner partner11"></p></a>
        </div>
      </div>
    </div>
  </div>
</div>


