<div class="wrap-1">
  <div class="container-1">
    <div class="privacy-policy">
      <div class="left">
        <a href="javascript:;" class="active">Privacy Policy</a>
        <a href="javascript:;" (click)="toService()">Terms of Service</a>
        <a href="javascript:;" (click)="toFAQ()">FAQs</a>
        <a href="javascript:;" (click)="toReg()">Reg S & Reg D</a>
        <!--<a href="javascript:;" (click)="changeType('policy')">PRIVACY POLICY</a>-->
        <!--<a href="javascript:;" (click)="changeType('service')">TERMS OF SERVICE</a>-->
        <!--<a href="javascript:;" (click)="changeType('faq')">FAQ</a>-->
      </div>
      <!--<div class="right" *ngIf="type == 'policy'"></div>-->
      <!--<div class="right" *ngIf="type == 'service'"></div>-->
      <!--<div class="right" *ngIf="type == 'faq'"></div>-->
      <div class="right">
        <h2>Privacy Policy</h2>
        <p>This privacy policy sets out how Eagle Investment Corp., LLC (“Eagle”) uses and protects any information that you provide Eagle. </p>
        <p>Eagle is devoted to ensuring that your privacy is protected. Should we ask you to provide certain information by which you can be identified when accessing your account information, you can be assured that such information will only be used in accordance with this privacy statement. </p>
        <p>Eagle has a firm policy of protecting the confidentiality and security of information that we collect from our Investors. We do not share your non‐public personal information with unaffiliated third parties. Information is only shared with your consent except for the specific purposes below, in accordance with all applicable laws. Please read this policy carefully. It gives you important information about how we handle your personal information. </p>
        <p>Eagle reserves the right to change this policy at any time. </p>
        <p class="pdf-p">
          <span class="pdf"></span>
          <a href="javascript:;">Please refer to the details.</a>
        </p>
      </div>
    </div>
  </div>
</div>


