@import "../../global-style/variables";
@import "../../global-style/mixins";

@include wrap-1();
@include modal();
@include success-failed-modal();
.wrap-1{
  h1{
    margin-bottom:50px!important;
  }
  .password, .confirmPassword{
    @include input-long();
  }
  input:focus{
    border-right:0!important;
    border-bottom-color:#1332C3;
  }
  input:hover{
    border-right:0!important;
  }
  .password-item{
    margin-bottom:0!important;
  }
  .btn-common{
    @include btn-common();
    width:116px;
    margin-top:16px;
  }
  .btn-common:hover{
    //opacity: 0.84;
  }
}
.invalid-feedback {
  @include form-invalid-feedback();
}
.cannot{
  opacity: 0.4;
}
