<div class="wrap-1">
  <div class="container-1">
    <h1>Reset Your Password</h1>
    <form nz-form [formGroup]="resetForm" (submit)="resetPassword()">
      <nz-form-item class="password-item">
        <nz-form-control>
          <input nz-input [ngModel]="" (blur)="passwordValidate()" formControlName="password" placeholder="New password (At least 8 characters; 1 upper case letter; 1 lower case letter)" class="password" type="password">
          <div class="invalid-feedback">
            {{ resetFormError.password }}
          </div>
        </nz-form-control>
      </nz-form-item>
      <br>
      <nz-form-item>
        <nz-form-control>
          <input nz-input [ngModel]="" (blur)="rePasswordValidate()" formControlName="rePassword" placeholder="Confirm password" class="confirmPassword" type="password">
          <div class="invalid-feedback">
            {{ resetFormError.rePassword }}
          </div>
        </nz-form-control>
      </nz-form-item>
      <button nz-button class="login-form-button btn-common" [ngClass]="{'cannot' : notClickable}" [disabled]="submitDisabled">RESET</button>
    </form>
    <nz-modal nzWrapClassName="vertical-center-modal" [(nzVisible)]="isVisible" [nzMask]="false" [(nzFooter)]="isnzFooter" [(nzClosable)]="isnzClose">
      <div class="modal-container">
        <p class="success" *ngIf="isSuccess"></p>
        <p class="failed" *ngIf="!isSuccess"></p>
        <p class="note-modal" *ngIf="isSuccess">Great, your password has been reset successfully!</p>
        <p class="note-modal" *ngIf="!isSuccess">Oops… Something went wrong. Please try later.</p>
      </div>
    </nz-modal>
  </div>
</div>


