<div class="wrap-1">
  <div class="container-1">
    <div class="privacy-policy">
      <div class="left">
        <a href="javascript:;" (click)="toPolicy()">Privacy Policy</a>
        <a href="javascript:;" (click)="toService()">Terms of Service</a>
        <a href="javascript:;" class="active">FAQs</a>
        <a href="javascript:;" (click)="toReg()">Reg S & Reg D</a>
      </div>
      <div class="right">
        <h2>FAQs</h2>
        <div class="item">
          <p class="question">Q: How do I issue a security token?</p>
          <p class="answer">A: To be authorized to issue a security token, you must first sign up and provide us with details on your project. Once your project application has been reviewed and accepted, we will assist you with the preparation and planning process, the implementation of the project, and finally, the STO execution to issue your security token.</p>
        </div>
        <div class="item">
          <p class="question">Q: How will I be able to manage my security token?</p>
          <p class="answer">A: Our platform provides a whitelisting framework, enabling you to add and remove investors from your personalized whitelist, as well as transfer security tokens to designated wallet addresses. </p>
        </div>
        <div class="item">
          <p class="question">Q: Where can I view the issued tokens?</p>
          <p class="answer">A: On Etherscan.</p>
        </div>
        <div class="item">
          <p class="question">Q: How long will the entire process take?</p>
          <p class="answer">A: The timeline for issuing a security token will vary based on project specifications and complexity. Generally, the process will take anywhere from 10 weeks to several months.</p>
        </div>
        <div class="item">
          <p class="question">Q: What are security tokens?</p>
          <p class="answer">Security tokens are the representation of rights to an asset through a cryptographic token issued on the blockchain. Security tokens allow the frictionless transfer of ownership while decreasing the high transaction costs of traditional financing.</p>
        </div>
        <div class="item">
          <p class="question">Q: What are the benefits of security tokens?</p>
          <p class="answer">A: Security tokens provide a regulatory compliant way to bring investors liquidity, programmable equity, access to global markets open 24/7, more efficient asset trading through the elimination of middlemen, and countless other benefits.</p>
        </div>
        <div class="item">
          <p class="question">Q: What types of assets can be tokenized?</p>
          <p class="answer">A: All assets can be tokenized, such as real estate, equity, commodities, intellectual property, or even art.</p>
        </div>
        <div class="item">
          <p class="question">Q: What private placement offerings do you have available?</p>
          <p class="answer padding">A: At present, our platform offers Reg S and Reg D private placement offerings for STO issuance. You can contact us directly regarding your project’s preferred private placement specifications.</p>
          <p class="answer"> For any additional questions, please do not hesitate to reach out to support@bankorus.com</p>
        </div>
      </div>
    </div>
  </div>
</div>


