<div class="wrap-1">
  <div class="container-1">
    <span class="success"></span>
    <h1>Thank you for your reservation!</h1>
    <p class="note-1 note">Your submission has been confirmed.</p>
    <p class="note-2 note">You will shortly receive an email confirming your reservation.</p>
    <p class="note-3 note">You can also upload additional documents regarding your business. The more comprehensive the information, the higher the chance that the issuing will be successful.</p>
    <button nz-button class="btn-common" (click)="toUpload()">UPLOAD ADDITIONAL DOCUMENTS</button>
    <h2>Expected Timeline</h2>
    <!--<p class="timeline"></p>-->
    <img src="assets/img/timeline.png" alt="" class="timeline">
  </div>
</div>


